# Functions, Scoping, Data Collections 1 & List Comprehensions

## Tasks Today:

<i>Monday Additions (for loops)</i>

1) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
2) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
 
3) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>
4) Working With Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) min() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) max() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) sum() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) sort() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Copying a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) 'not in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Checking an Empty List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Removing Instances with a Loop <br> 
5) List Comprehensions <br>
6) Tuples <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) sorted() <br>

### For Loops

In [2]:
# for keyword, variable iterator / counter, in keyword, object (iterable)

dog = 'shadow'

for letter in dog:
    print(letter)
    

names = ['ryan', 'alex', 'chuck', 'salim', 'ethan']
for name in names:
    print(name)

numbers = [1, 5, 6, 8, 9]

for num in numbers:
    print(num)

s
h
a
d
o
w
ryan
alex
chuck
salim
ethan
1
5
6
8
9

In [3]:
numbers = range(10)

for num in numbers:
    print (num)
    
    
print("\n")


for i in range(15):
    print(i)

0
1
2
3
4
5
6
7
8
9


0
1
2
3
4
5
6
7
8
9
10
11
12
13
14

In [6]:
name = "Manja Wilson"

length = len(name)

print(length)

# takes the length of an object / iterable and grabs the number of characters or the length
# then we loop through the range of that length len(name) = 12

12

##### Using 'in' keyword

In [8]:
# with conditionals - in checks for membership
# if 'p' in word:
#     print("it's here!")
    
for i in range(15):
    print(i**2)
    
name = "Barney"

name2 = "Baby Bob"

for letter in name:
    if letter in name2:
        print("Oh, neat! Same letter!")
        
    else:
        print("Not the same letter.")

0
1
4
9
16
25
36
49
64
81
100
121
144
169
196
Oh, neat! Same letter!
Oh, neat! Same letter!
Not the same letter.
Not the same letter.
Not the same letter.
Oh, neat! Same letter!

##### Continue Statement

In [9]:
# continue will move on to the next iterable when condition is met 
for i in range(20):
    if i == 5 or i == 6:
        continue
    print(i)

0
1
2
3
4
7
8
9
10
11
12
13
14
15
16
17
18
19

##### Break Statement

In [10]:
# stops a loop from iterating if a certain condition is met

for i in range(20):
    if i == 6:
        break
    print(i)

0
1
2
3
4
5

##### Pass Statement

In [13]:
# mostly used as placeholder 
# skips to next part of code without giving error or stopping
for i in range(20):
    pass

word = "keyboard"

for letter in word:
    print(letter)
    
    
    
def get_total():
    pass

k
e
y
b
o
a
r
d

##### Double For Loops

In [18]:
for i in range(5):
    for j in range(5):
        print("i = ", i, "j = ", j)

i =  0 j =  0
i =  0 j =  1
i =  0 j =  2
i =  0 j =  3
i =  0 j =  4
i =  1 j =  0
i =  1 j =  1
i =  1 j =  2
i =  1 j =  3
i =  1 j =  4
i =  2 j =  0
i =  2 j =  1
i =  2 j =  2
i =  2 j =  3
i =  2 j =  4
i =  3 j =  0
i =  3 j =  1
i =  3 j =  2
i =  3 j =  3
i =  3 j =  4
i =  4 j =  0
i =  4 j =  1
i =  4 j =  2
i =  4 j =  3
i =  4 j =  4

### While Loops

In [19]:
# while keyword, condition
# will continue to run based on the condition statement

counter = 0

while counter < 11:
    counter += 1 
    print(counter)
    
print("\n")


num = 0

while num < 15:
    print(num**2)
    num += 1

1
2
3
4
5
6
7
8
9
10
11


0
1
4
9
16
25
36
49
64
81
100
121
144
169
196

In [26]:
# breaks with while loops

num = 0

while num < 15:
    num += 1
    if num == 7:
        break
    print(num)

1
2
3
4
5
6

##### looping 'While True'

In [27]:
# true as a condition for the while loop to run

game_over = False

while True:
    print("Infinite Loop")
    
    if game_over == False:
        break

Infinite Loop

In [ ]:
game_running = True 

num = 7

while game_running:
    print("checking num")
    
    if num == 7:
        game_running = False

In [ ]:
while True:
    name = input("What's your name?")
    if name == "":
        print("That's empty, please enter a name!")
    else:
        print(name)
        break

##### While & For Loops Used Together

In [34]:
j = 0 

while j < 10:
    print("\nWhile loop iteration:" + str(j))
    for i in range(4):
        print("\nWhile loop iteration:" + str(i))
        j += 1

While loop iteration:0

While loop iteration:0

While loop iteration:1

While loop iteration:2

While loop iteration:3

While loop iteration:4

While loop iteration:0

While loop iteration:1

While loop iteration:2

While loop iteration:3

While loop iteration:8

While loop iteration:0

While loop iteration:1

While loop iteration:2

While loop iteration:3

##### The Range Function

In [37]:
# range - start, stop, step  -  stop is only required parameter and is not inclusive 
# start will default to 0 when not provided
# step will default to 1 when not provided

for i in range(5):
    print(i)
    
print("\n")

for i in range(1,10):
    print(i)
    
print("\n") 

for i in range(1, 10, 3):
    print(i)

0
1
2
3
4


1
2
3
4
5
6
7
8
9


1
4
7

### String Manipulation Exercise

In [38]:
names = ['    coNNor', 'max', ' EVan ', 'JORDAN']

for name in names:
    print(name.strip().title())

Connor
Max
Evan
Jordan

## Lists

##### Declaring Lists

In [41]:
# declaring an empty list

our_list = []

names = ['Alex', 'Manja', 'Lyle', 'Chuck']

numbers = [1, 2, 3, 4, 5, 6, 7,]

print(names)

['Alex', 'Manja', 'Lyle', 'Chuck']

##### Indexing a List

In [43]:
# [start:stop:step] --> [1]

names = ['Alex', 'Manja', 'Lyle', 'Chuck']

print(names[2])

print(names[1:])

print(names[:2])

# print starting at index 1 and go to the end of list, stepping by 2:

print(names[1::2])

copy_list = names[1::2]
print(copy_list)

# reverse list:
print(names[::-1])

Lyle
['Manja', 'Lyle', 'Chuck']
['Alex', 'Manja']
['Manja', 'Chuck']
['Manja', 'Chuck']
['Chuck', 'Lyle', 'Manja', 'Alex']

### List Methods

##### .append()

In [1]:
# add to back of a list

names = ['Alex', 'Manja', 'Lyle', 'Chuck']

names.append("Ben")
print(names)

['Alex', 'Manja', 'Lyle', 'Chuck', 'Ben']

In [2]:
print(names[:2:-1])

['Ben', 'Chuck']

In [3]:
names.append('Fabian')
print(names)

['Alex', 'Manja', 'Lyle', 'Chuck', 'Ben', 'Fabian']

In [4]:
print(names[:4:-1])

['Fabian']

##### .insert()

In [6]:
# takes in an index, and an element


names = ['Alex', 'Manja', 'Lyle', 'Chuck']
 
names.insert(3, "Ryan")
print(names)


new_data = [1, 4, 6, 7,]

new_data.insert(2, 5)

print(new_data)

['Alex', 'Manja', 'Lyle', 'Ryan', 'Chuck']
[1, 4, 5, 6, 7]

In [7]:
for i in range(len(new_data)):
    if i == 3:
        new_data.insert(i, names[i])
 
    print(new_data)

[1, 4, 5, 6, 7]
[1, 4, 5, 6, 7]
[1, 4, 5, 6, 7]
[1, 4, 5, 'Ryan', 6, 7]
[1, 4, 5, 'Ryan', 6, 7]

##### .pop()

In [13]:
# pop will default to removing last item of list
# otherwise it will take an index and pop out the value at that index in list


names = ['Alex', 'Manja', 'Lyle', 'Chuck']

bye_bye_name = names.pop(3)

print(bye_bye_name)


other_list = []
other_list.append(names.pop())

print(other_list)

Chuck
['Lyle']

##### .remove()

In [16]:
names.remove("Manja")

print(names)

['Alex']

In [22]:
names = ['Alex', 'Manja', 'Lyle', 'Chuck', 'Manja']

for n in names:
    if n == 'Lyle':
        names.remove('Lyle')
        
print(names)
    
    
while 'Manja' in names:
    names.remove('Manja')
    
print(names)

['Alex', 'Manja', 'Chuck', 'Manja']
['Alex', 'Chuck']

In [21]:
names = ['Alex', 'Manja', 'Lyle', 'Chuck']

for i in range(len(names)):
    if names[i] == ''Manja'':
        names.remove(names[i])

    print(names)
    
# does not work, because list keeps shrinking and 'index' will be gone

['Alex', 'Manja', 'Lyle', 'Chuck']
['Alex', 'Lyle', 'Chuck']
['Alex', 'Lyle', 'Chuck']

IndexError: list index out of range

### Working With Lists

##### del()

In [25]:
# index to be removed, not values
# can cause indexing errors

names = ['Alex', 'Manja', 'Lyle', 'Chuck']

del(names[1])

print(names)

['Alex', 'Lyle', 'Chuck']

##### min()

In [28]:
# returns smallest item in a list

numbers = [1, 4, 5, 7, 87,]

print(min(numbers))


print(min(names))

1
Alex

##### max()

In [29]:
print(max(numbers))

print(max(names))

87
Lyle

##### sum()

In [30]:
print(sum(numbers))

104

##### sorted()

In [32]:
#temporarily sorts a list alphabetically
# original list still intact

print(sorted(names))
print(names)

['Alex', 'Chuck', 'Lyle']
['Alex', 'Lyle', 'Chuck']

##### .sort() <br>
<p>Difference between sort and sorted, is that sorted doesn't change original list it returns a copy, while .sort changes the original list</p>

In [34]:
names.sort()
print(names)

numbers.sort(reverse=True)
print(numbers)

['Alex', 'Chuck', 'Lyle']
[87, 7, 5, 4, 1]

##### Copying a List

In [35]:
#  [:] copy a list
# does not alter the original list

new_list = numbers[:]

print(numbers)
print(new_list)

[87, 7, 5, 4, 1]
[87, 7, 5, 4, 1]

##### Looping Through Lists

In [40]:
# looping by value 

names = ['Han Solo', 'Leia Organa', 'Luke Skywalker', 'Lando Calrissian', 'Mace Windu']

for name in names:
    print(name)
print("\n")    
    
for name in names:
    if name == 'Han Solo':
        print(name)
print("\n")


# looping by index 

for i in range(len(names)):
    print (names[i])
    
for i in range(len(names)):
    if names[i] == 'Leia Organa':
        print(names[i])
        
print("\n")


#enumerate

for i, v in enumerate(names):
    if v == 'Mace Windu':
        print(v)

Han Solo
Leia Organa
Luke Skywalker
Lando Calrissian
Mace Windu


Han Solo


Han Solo
Leia Organa
Luke Skywalker
Lando Calrissian
Mace Windu
Leia Organa


Mace Windu

##### 'in' keyword

In [85]:
names = ['Alex', 'Manja', 'Lyle', 'Chuck']

if 'Manja' in names:
    print("Ranger")
else:
    print("Not a Ranger.")

Ranger

##### 'not in' keyword

In [90]:
names = ['Alex', 'Manja', 'Lyle', 'Chuck']

if 'Anne' not in names:
    print("Not a Ranger.")
else:
    print("Ranger")

Frederick is not a Ranger, booooo Frederick

##### Checking an Empty List

In [95]:
empty_list = []

That is an empty list. Would ya just look at it
no

##### Removing Instances with a Loop

In [42]:
names = ['Alex', 'Manja', 'Lyle', 'Chuck']

while "Alex" in names:
    names.remove('Alex')

print(names)

['Manja', 'Lyle', 'Chuck']

### List Exercise <br>
<p>Remove all duplicates<br><b>Extra: Create a program that will remove any duplicates from a given list</b></p>

In [47]:
names = ['connor', 'connor', 'bob', 'connor', 'evan', 'max', 'evan', 2, 2, 2, 3, 3, 4, 'bob', 'kevin']
# Hint 1: You will need an append
# Hint 2: Using an empty list will make life easier

new_list = []

for i in range(len(names)):
    if names[i] not in new_list:
        new_list.append(names[i])

TypeError: 'str' object cannot be interpreted as an integer

### List Comprehensions <br>
<p>Creating a quickly generated list to work with<br>*result*  = [*transform*    *iteration*         *filter*     ]</p>

##### In a list comprehension we have a few pieces:
1. The first is the counter/ variable - IN this the variable is x
2. then we have a transform for the variable
3. The finale part of a list comp is called the condition

```python
    [transform, iteration/variable, condition]
```

In [49]:
nums = [2, 4, 6, 8, 10]
nums_squared = []

# for loop way

for num in nums:
    nums_squared.append(num**2)
    print(nums_squared)
    
# list comprehension way

nums_squared = [num**2 for num in nums]
print(nums_squared)


# # list comprehension with conditional

more_squared = [num**2 for num in nums if num%2 == 0]
print(more_squared)

[4]
[4, 16]
[4, 16, 36]
[4, 16, 36, 64]
[4, 16, 36, 64, 100]
[4, 16, 36, 64, 100]
[4, 16, 36, 64, 100]

In [80]:
pets = ['henri', 'lucy', 'eyeball', 'jimmy']

letter_names = [name[0] for name in pets if name[0] != 'e']
print(letter_names)

['h', 'l', 'j']

There are a few benefits to using List comprehensions. The most obvious would be that we now have shorter code to work with instead of using 3+ lines of code in the for loop variant.

Another is an added benefit to memory usage. Since the list's memory is allocated first before adding elements to it, we don't have to resize the list once we add elements to it.

Lastly, list comprehensions are considered the "pythonic" way to write code by the PEP8 standards (Python Style Guide)

### Tuples <br>
<p><b>Defined as an immutable list</b></p><br>Seperated by commas using parenthesis

In [53]:
# declaring tuples 

tup_1 = (1, 2, 3)
tup_2 = (4, 5, 6)

print(tup_1)
print(tup_2)

print(type(tup_1))

print(tup_1[0])
print(tup_2[1])

print("tuple length", len(tup_2))

for num in tup_1:
    print(num)
    
    
for i in range(len(tup_2)):
    print(tup_2[i])

(1, 2, 3)
(4, 5, 6)
<class 'tuple'>
1
5
tuple length 3
1
2
3
4
5
6

##### sorted()

In [142]:
tup = (20, 5, 1, 10, 95, 123)

print(sorted(tup))
# will return a list of tuple

some_list = [5, 12, 654, 234, 7643, 34]

# combine_list = some_list + tup

new_tup = tuple(some_list)

new_new_tup = new_tup + tup
print(new_new_tup)

[1, 5, 10, 20, 95, 123]
(5, 12, 654, 234, 7643, 34, 20, 5, 1, 10, 95, 123)

In [149]:
# List Concatenation

my_list = [1, 2, 3, 4, 5]
my_list2 = [2, 3, 4, 5, 13, 12, 16, 1234]

my_list3 = my_list + my_list2

print(my_list3)

[1, 2, 3, 4, 5, 2, 3, 4, 5, 13, 12, 16, 1234]

##### Adding values to a Tuple

In [148]:
print(tup)

tup = tup + (6, )
print(tup)

(20, 5, 1, 10, 95, 123, 5, 5, 5)
(20, 5, 1, 10, 95, 123, 5, 5, 5, 6)

# Exercises

## Exercise 1 <br>
<p>Using the given list, print out a filtered version of the list with only the numbers that are less than ten</b></i></p><br>

In [57]:
alist = [1,11,14,5,8,9]
 
new_list = []

for num in alist:
    if num < 10:
        new_list.append(num)
        
print(new_list)

[1, 5, 8, 9]

## Exercise 2 <br>
<p>Merge and sort the two lists below<br>
<b><i>Hint: You can use the .sort() method</i></b></p>

In [67]:
l_1 = [1,2,3,4,5,6]
l_2 = [3,4,5,6,7,8,10]


l_3 = l_1 + l_2

l_3.sort()

print(l_3)

[1, 2, 3, 3, 4, 4, 5, 5, 6, 6, 7, 8, 10]

## Exercise 3 <br>
<p>Square every number from 1 to 15<br>

In [69]:
squares = [num**2 for num in range(1,16)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225]

## Exercise 4<br>
<p>Using List Comprehension and the given list, print out a filtered list with 
only the names that start with the letter 'a'. 
The names in the outputted list should be title cased and have no whitespace.<br>

In [27]:
names_list = ['   amy', 'Briant', 'Ryan ', ' Alex', 'steve', '  ']
#expected output = ['Amy', 'Alex']

 
#ok, so thanks to your help I figured out the list comprehension

filtered_list = [name.strip().title() for name in names_list if len(name)!= 0 and name.strip().title().startswith('A')]


#AND the long way, too:

filtered_list = []

for name in names_list:
    name = name.strip().title()
    if len(name) != 0:
        if name[0] == 'A':
            filtered_list.append(name)


print(filtered_list)

['Amy', 'Alex']

## Exercise 5 <br>
<p>Print all Prime numbers from 1 to 100<br>

In [94]:
prime_numbers = []

for num in range(2,101):
    prime = True
    for i in range(2,num):
        if num % i == 0:
            prime = False
    if prime:
        prime_numbers.append(num)

print(prime_numbers)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]